body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f5f5f5;
}


header {
    background: #1e3a8a;  /* 深蓝 */
    color: white;
    text-align: center;
    padding: 40px 20px;
}

h1 {
    margin: 0;
}

section {
    padding: 40px;
}

#repo-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.repo {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.repo a {
    text-decoration: none;
    color: #007acc;
    font-weight: bold;
}
.avatar {
    width: 120px;
    border-radius: 60%;
    margin-bottom: 10px;
}
footer {
    text-align: center;
    padding: 20px;
    background: #1e3a8a;  /* 深蓝 */
    color: white;
}
